.manual-anim {
    opacity: 0;
    transition: all 3s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: opacity, transform;
}

/* 3 Pilihan Animasi Lu */
.anim-fade-up { transform: translateY(40px); }
.anim-fade-left { transform: translateX(40px); }
.anim-fade-in { transform: scale(0.95); }
.anim-fade-down { transform: translateY(-40px); }
.anim-fade-right { transform: translateX(-40px); }

/* Class buat nampilin elemennya pas di-scroll */
.anim-show {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important;
}